Package: com.xhan.lessad.tweak
Name: tweak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: xhan
Author: xhan
Section: Tweaks
