Package: com.xhan.lessad.sbsettings
Name: sbsettings
Depends: sbsettings
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome SBSettings toggle of some sort!!
Maintainer: xhan
Author: xhan
Section: Addons (SBSettings)